<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 rescap">

  <Identity
    Name="34049KazukiAwasawa.310512F2C2269"
    Publisher="CN=FF18BBFC-17FB-4075-8AD6-0AD85AB820F9"
    Version="1.10.4.0" />

  <Properties>
    <DisplayName>MyPad テキストエディタ</DisplayName>
    <PublisherDisplayName>Kazuki Awasawa</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="MyPad テキストエディタ"
        Description="MyPad は簡単操作ですぐに使えるシンプルなテキストエディタです。"
        BackgroundColor="#404040"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="MyPad">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="text">
            <uap:DisplayName>Text</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
              <uap10:FileType>*</uap10:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="cpp">
            <uap:DisplayName>C/C++</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.c</uap:FileType>
              <uap:FileType>.h</uap:FileType>
              <uap:FileType>.cc</uap:FileType>
              <uap:FileType>.hh</uap:FileType>
              <uap:FileType>.cpp</uap:FileType>
              <uap:FileType>.hpp</uap:FileType>
              <uap:FileType>.cxx</uap:FileType>
              <uap:FileType>.hxx</uap:FileType>
              <uap:FileType>.c++</uap:FileType>
              <uap:FileType>.h++</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="csharp">
            <uap:DisplayName>C#</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.cs</uap:FileType>
              <uap:FileType>.csx</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="java">
            <uap:DisplayName>Java</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.java</uap:FileType>
              <uap:FileType>.jav</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="javascript">
            <uap:DisplayName>JavaScript</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.js</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="json">
            <uap:DisplayName>Json</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.json</uap:FileType>
              <uap:FileType>.jsonc</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="markdown">
            <uap:DisplayName>Markdown</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.md</uap:FileType>
              <uap:FileType>.mkd</uap:FileType>
              <uap:FileType>.mkdn</uap:FileType>
              <uap:FileType>.mdwn</uap:FileType>
              <uap:FileType>.mdown</uap:FileType>
              <uap:FileType>.markdown</uap:FileType>
              <uap:FileType>.mdtxt</uap:FileType>
              <uap:FileType>.mdtext</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="php">
            <uap:DisplayName>PHP</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.php</uap:FileType>
              <uap:FileType>.php4</uap:FileType>
              <uap:FileType>.php5</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="plsql">
            <uap:DisplayName>PL/SQL</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.sql</uap:FileType>
              <uap:FileType>.plsql</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="python">
            <uap:DisplayName>Python</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.py</uap:FileType>
              <uap:FileType>.pyw</uap:FileType>
              <uap:FileType>.pyi</uap:FileType>
              <uap:FileType>.rpy</uap:FileType>
              <uap:FileType>.gpy</uap:FileType>
              <uap:FileType>.gpyi</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="transact-sql">
            <uap:DisplayName>Transact-SQL</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.tsql</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="visualbasic">
            <uap:DisplayName>Visual Basic</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.vb</uap:FileType>
              <uap:FileType>.vbs</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="xml">
            <uap:DisplayName>XML</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.xml</uap:FileType>
              <uap:FileType>.xsd</uap:FileType>
              <uap:FileType>.xsl</uap:FileType>
              <uap:FileType>.xaml</uap:FileType>
              <uap:FileType>.csl</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
